[submodule "smartbot_irl"]
	path = smartbot_irl
	url = https://github.com/wvu-irl/smartbot_irl
	branch = main
[submodule "smartbot_irl"]
	path = smartbot_irl
	url = https://github.com/wvu-irl/smartbot_irl
	branch = main
