# https://docs.astral.sh/ruff/editors/settings/#configuration

exclude = [
    "install",
    "log",
    ".misc",
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".ipynb_checkpoints",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pyenv",
    ".pytest_cache",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    ".vscode",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "site-packages",
    "venv",
    "build/**",
    "install/**",
    "/opt/ros/**",
]


line-length = 99

[lint]
# If you want to use additional rules or set other configurations, you can add them here:
#select = ["E", "W", "F", "D"]  # Add docstring checking.
select = ["E", "W", "F"]

# Avoid enforcing line-length violations (`E501`)
ignore = ["E501"]

extend-select = ["FA"]  # FutureAnnotations rule

[format]
# Like Black, use double quotes for strings.
quote-style = "single"
indent-style = "space"
line-ending = "auto"
docstring-code-format = true


# suggest adding __forward__
# [tool.ruff.lint]
